/* NAVIGATION BAR */
.header .navbar {
  background: #5a0f10;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 12px 25px;
  justify-content: space-between;
  gap: 20px;
}

.name {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 5px;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
}

.namePos {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 15px;
}

.tagline {
  font-size: 9px;
  line-height: 10px;
  letter-spacing: 1px;
  margin-top: 3px;
}

.nav a {
  color: #fff;
  margin: 0 12px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

.searchBox input {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
}


/* BACKGROUND */
.bg1 {
    background-image: url('!2bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* SUBJECTS HEADER */


.subject-header {
  margin: 50px auto;
  text-align: left;
  width: 85%;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.title {
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0;
}

.subtitle {
  max-width: 750px;
  font-size: 16px;
  margin-top: 10px;
}


/* CARDS SECTION */
.infoSection {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

/* CARD STYLE */
.infoCard {
  background: white;
  width: 220px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

/* CIRCLE IMAGE */
.subject-img {
  width: 160px;
  height: 160px;
  background: #c5a9a9;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

/* TEXT BELOW IMAGE */
.desc {
  font-size: 12px;
  color: #333;
  margin-bottom: 15px;
}

/* SUBJECT BUTTON */
.subject-btn {
  background: #7c2b2b;
  color: white;
  display: block;
  padding: 10px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
}

/* FOOTER */
footer {
  background: linear-gradient(90deg, #5e1f1f, #8b2f2f);
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: 50px;
  box-shadow: 0 -4px 12px rgba(0,0,0,0.35);
}   

