/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
}

/* Background */
.bg-login {
    background-image: url('ISKOLAR (1).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Header */
.header .navbar {
    background: #7c2b2b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
}

.logo img {
    width: 70px;
}

.name {
    display: flex;
    gap: 10px;
    align-items: center;
}

.namePos {
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: bold;
}

.namePos h3 {
    font-size: 10px;
    font-weight: 400;
}

.nav a {
    text-decoration: none;
    font-size: 16px;
    margin: 0 18px;
    color: #fff;
    transition: 0.3s;
}

.nav a:hover {
    color: #ffe2cc;
}

/* Search bar */
.search-wrapper input {
    padding: 6px 12px;
    border-radius: 18px;
    border: none;
    width: 160px;
}

/* Background */
.bg1 {
    background-image: url('!ISKOLAR3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 150vh;
    margin: 0;
    padding-top: 0;
}

/* MAIN CONTENT */
.container {
    margin: 40px auto;
    max-width: 1100px;
    padding: 20px;
}

h2 {
    text-align: center;
}

.file-list-box {
    margin-top: 20px;
}

.file-list-box ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.file-list-box li {
    background: #f8f8f8;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-list-box button {
    margin-left: 10px;
}

.viewer {
    margin-top: 30px;
}

#pdfViewer {
    width: 100%;
    height: 800px;
    border: 1px solid #7c2b2b;
    border-radius: 10px;
}

footer {
    background: linear-gradient(90deg, #5e1f1f, #8b2f2f);
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
    box-shadow: 0 -4px 12px rgba(0,0,0,0.35);
} 
 /* Responsive for mobile */
@media (max-width: 768px) {
    .signin-section {
        flex-direction: column;
        align-items: center;
        margin: 30px auto;
    }

    .signin-left, .signin-box {
        width: 90%;
    }

    .signin-left h1 {
        font-size: 40px;
    }

    .tab {
        font-size: 16px;
    }

    .search-wrapper input {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .signin-left h1 {
        font-size: 32px;
    }

    .signin-left p {
        font-size: 14px;
    }

    .tab {
        font-size: 14px;
        padding: 6px;
    }

    .signin-btn {
        font-size: 16px;
        padding: 10px;
    }

    .namePos {
        font-size: 16px;
    }

    .namePos h3 {
        font-size: 8px;
    }

    .nav a {
        font-size: 12px;
        margin: 0 5px;
    }
}
